* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background: rgb(161, 90, 83);
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
}
